body {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: auto;
    font-size: 18px;
}

.head {
    background: white;
    color: #B31000;
    width: 20%;
    padding-left: 20px;
}

.block-1 {
    background: lightblue;
    color: black;
    width: 30%;
    padding: 10px;
    font-weight: bold;
}
